.panel {
    height: 100%;
    width: 98.2%;
    background-color: aqua;
    display: flex;
}

.panel .statisticsPanel {
    height: 100%;
    width: 60%;
    background-color: white;
}

.panel .observationsPanel {
    height: 100%;
    width: 40%;
    background-color: black;
}