.panel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel .statisticsPanel {
    height: 90%;
    width: 58.5%;
    border-radius: 7px;
    border-style: groove;
    border-width: 1px;
    border-color: gray;
}

.panel .observationsPanel {
    height: 90%;
    width: 38.5%;
    border-radius: 7px;
    border-style: groove;
    border-width: 1px;
    border-color: gray;
}