.subsEditor {
    width: 100%;
    max-height: 100%;
    font-size: small;
    overflow: scroll;
    background-color: rgb(30, 28, 28);
}

.subsEditor .seditor {
    width: 100%;
    /* height: 100%; */
    background-color: rgb(30, 28, 28);
    /* border-radius: 20px; */
    /* height: 100%; */
    min-height: 100%;
    outline: 0;
    font-size: small;
    border: none;
    cursor: white;
    caret-color: white;
    color: white;
    resize: none;
    counter-reset: line;
}

.subsEditor .seditor #codeArea {
    outline: none;
    padding-left: 60px;
    white-space: nowrap;
}

.subsEditor .seditor pre {
    /* padding-left: 60px; */
    left: 0px;
}

.subsEditor .seditor .editorLineNumber {
    position: absolute;
    color: #cccccc;
    text-align: left;
    left: 10px;
}

textarea:focus,
input:focus {
    outline: 0;
}

*:focus {
    outline: 0;
}

.subsEditor .seditor .token.comment,
.subsEditor .seditor .token.prolog,
.subsEditor .seditor .token.doctype,
.subsEditor .seditor .token.cdata {
    color: #90a4ae;
}

.subsEditor .seditor .token.punctuation {
    color: #9e9e9e;
}

.subsEditor .seditor .namespace {
    opacity: 0.7;
}

.subsEditor .seditor .token.property,
.subsEditor .seditor .token.tag,
.subsEditor .seditor .token.boolean,
.subsEditor .seditor .token.number,
.subsEditor .seditor .token.constant,
.subsEditor .seditor .token.symbol,
.subsEditor .seditor .token.deleted {
    color: #9CDCFE;
}

.subsEditor .seditor .token.selector,
.subsEditor .seditor .token.attr-name,
.subsEditor .seditor .token.string,
.subsEditor .seditor .token.char,
.subsEditor .seditor .token.builtin,
.subsEditor .seditor .token.inserted {
    /* color: rgb(176, 114, 74); */
    color: #CE8453;
}

.subsEditor .seditor .token.operator,
.subsEditor .seditor .token.entity,
.subsEditor .seditor .token.url,
.subsEditor .seditor .language-css .token.string,
.subsEditor .seditor .style .token.string {
    background-color: transparent;
}

.subsEditor .seditor .style .token.punctuation {
    color: #3f51b5;
}

.subsEditor .seditor .token.atrule,
.subsEditor .seditor .token.attr-value,
.subsEditor .seditor .token.keyword {
    color: #3f51b5;
}

.subsEditor .seditor .token.function {
    color: #f44336;
}

.subsEditor .seditor .seditor .token.regex,
.subsEditor .seditor .token.important,
.subsEditor .seditor .token.variable {
    color: rgb(159, 105, 70);
}

.subsEditor .seditor .token.important,
.subsEditor .seditor .token.bold {
    font-weight: bold;
}

.subsEditor .seditor .token.italic {
    font-style: italic;
}

.subsEditor .seditor .token.entity {
    cursor: help;
}