
/* div {
   
} */

.routinePage {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.routinePage .titleBar {
    margin: 20px 0 7px 0;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    display: flex;
}

.routinePage .titleBar .createRoutine {
    height: 55%;
    width: 17%;
    background: rgb(0, 160, 198);
    margin-right: 100px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
}


.routinePage .routineList {
    height: 50%;
    width: 100%;
    overflow-x: scroll;
    margin: 10px 0 10px 0;
}



