
.routineItem {
    height: 45%;
    width: 25%;
}

.routineItem .present {
    width: 100%;
    height: 100%;
    border-color: rgb(0, 160, 198);
    border-width: 1.5px;
    border-style :groove;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.routineItem .null {
    width: 100%;
    height: 100%;
    border-color: gray;
    opacity: 0.8;
    border-width: 2px;
    border-style :dashed;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routineItem .null .nullText {
    font-size: medium;
    color: gray;
    font-style: italic;
}