.optionButton {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    
    font-size: small;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
    cursor:pointer;
}


.optionButton p {
    transform: rotate(-90deg);
}