.optionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    background-color: rgb(0, 160, 198);
    font-size: small;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}


.optionButton p {
    cursor:default;
}