.statsPanelDiv {
    height: 95.5%;
    width: 96.5%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statsPanelDiv .divider {
    width: 1px;
    height: 98%;
    background-color: gray;
    margin-left: 20px;
}


/* Feature Bar View */

.statsPanelDiv .featureBar {
    height: 100%;
    width: 5%;
    margin-left: 20px;
    top: -4%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.statsPanelDiv .featureBar .optionButton {
    width: 100%;
}

/* Feature Bar View */



/* Presentation Bar View */
.statsPanelDiv .presentationBar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.statsPanelDiv .presentationBar .plot {
    height: 100;
    width: 90;
    color: rgb(0, 160, 198);
}

.statsPanelDiv .presentationBar .title {
    margin-left: 3%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.statsPanelDiv .presentationBar .noSelectionWarning {
    height: 100%;
    width: 100%;
    font-size: small;
    color: gray;
    font-style: italic;
}


.statsPanelDiv .presentationBar .warningView {
    position: relative;
    top: 40%;
    left: 30%;
}
/* Presentation Bar View */



/* Graph View Styling */
.statsPanelDiv .presentationBar .graphView{
    height: 75%;
    width: 95%;
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsPanelDiv .presentationBar .graphView .graph {
    width: 95%;
}

.statsPanelDiv .presentationBar .graphView .options {
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    transform: rotate(180deg);
    position: relative;
}

.statsPanelDiv .presentationBar .graphView .graph .plot {
    width: 20%;
}
/* Graph View Styling */


/* Map View Styling */

.statsPanelDiv .presentationBar .mapView {
    height: 75%;
    width: 95%;
    /* position: relative; */
    /* left: 10%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.statsPanelDiv .presentationBar .mapView .routineTree {
    height: 100%;
    width: 50%;
    overflow-y: hidden;
    overflow: scroll;
}

.statsPanelDiv .presentationBar .mapView .utilities {
    height: 100%;
    width: 45%;
    margin-left: 5%;
    background-color: rgb(245, 61, 61);
    border-radius: 10px 0 10px 0;
}

.statsPanelDiv .presentationBar .mapView .timelineMap {
    margin: 0%;
    padding: 0%;
    height: 250px;
    width: 100%;
    padding: 0px;
    /* transform: rotate(-90deg); */
    margin-bottom: 0%;
}









