.createSubRoutine {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createSubRoutine .contentSection {
    height: 90%;
    max-height: 91%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    overflow: scroll;
}

.createSubRoutine .contentSection .basics {
    width: calc(100% - 10px);
    height: calc(20% - 10px);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createSubRoutine .contentSection .basics .subRTitle {
    height: 100%;
    width: 40%;
    min-height: 80px;
    font-size: medium;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createSubRoutine .contentSection .basics .subRTitle p {
    margin: 0px;
}

.createSubRoutine .contentSection .basics .subRTitle input {
    height: calc(50% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.createSubRoutine .contentSection .basics .subRType {
    height: 100%;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createSubRoutine .contentSection .basics .subRType p {
    margin: 0px;
}

.createSubRoutine .contentSection .basics .subRType select {
    height: calc(60% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
}

.createSubRoutine .contentSection .route {
    width: calc(100% - 10px);
    height: calc(20% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.createSubRoutine .contentSection .route p {
    font-size: medium;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.createSubRoutine .contentSection .route input {
    height: calc(60% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    background-color: black;
    color: rgb(0, 160, 198);
    border-radius: 10px;
    border: none;
}

.createSubRoutine .contentSection .dataInput {
    height: calc(60% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.createSubRoutine .contentSection .dataInput .dataOptions {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.createSubRoutine .contentSection .dataInput .dataOptions .optionButton p {
    transform: rotate(0deg);
}

.createSubRoutine .contentSection .dataInput .editor {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor {
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: small;
    overflow: scroll;
    background-color: black;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor {
    width: 100%;
    background-color: rgb(30, 28, 28);
    /* border-radius: 20px; */
    /* height: 100%; */
    min-height: 100%;
    outline: 0;
    font-size: small;
    border: none;
    cursor: white;
    caret-color: white;
    color: white;
    resize: none;
    counter-reset: line;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor #codeArea {
    outline: none;
    padding-left: 60px;
    white-space: nowrap;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor pre {
    /* padding-left: 60px; */
    left: 0px;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .editorLineNumber {
    position: absolute;
    color: #cccccc;
    text-align: left;
    left: 10px;
}

textarea:focus,
input:focus {
    outline: 0;
}

*:focus {
    outline: 0;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.comment,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.prolog,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.doctype,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.cdata {
    color: #90a4ae;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.punctuation {
    color: #9e9e9e;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .namespace {
    opacity: 0.7;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.property,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.tag,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.boolean,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.number,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.constant,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.symbol,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.deleted {
    color: #9CDCFE;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.selector,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.attr-name,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.string,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.char,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.builtin,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.inserted {
    /* color: rgb(176, 114, 74); */
    color: #CE8453;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.operator,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.entity,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.url,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .language-css .token.string,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .style .token.string {
    background-color: transparent;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .style .token.punctuation {
    color: #3f51b5;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.atrule,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.attr-value,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.keyword {
    color: #3f51b5;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.function {
    color: #f44336;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.regex,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.important,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.variable {
    color: rgb(159, 105, 70);
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.important,
.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.bold {
    font-weight: bold;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.italic {
    font-style: italic;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor .seditor .token.entity {
    cursor: help;
}


.createSubRoutine .saveButtonSection {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createSubRoutine .saveButtonSection .saveButton {
    height: 80%;
    width: 80%;
    background-color: rgb(0, 160, 198);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.createSubRoutine .saveButtonSection .saveButton p {
    margin: 0px;
}