.createSubRoutine {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createSubRoutine .contentSection {
    height: 90%;
    max-height: 91%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    overflow: scroll;
}

.createSubRoutine .contentSection .basics {
    width: calc(100% - 10px);
    height: calc(20% - 10px);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createSubRoutine .contentSection .basics .subRTitle {
    height: 100%;
    width: 40%;
    min-height: 80px;
    font-size: medium;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createSubRoutine .contentSection .basics .subRTitle p {
    margin: 0px;
}

.createSubRoutine .contentSection .basics .subRTitle input {
    height: calc(50% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.createSubRoutine .contentSection .basics .subRType {
    height: 100%;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createSubRoutine .contentSection .basics .subRType p {
    margin: 0px;
}

.createSubRoutine .contentSection .basics .subRType select {
    height: calc(60% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
}

.createSubRoutine .contentSection .route {
    width: calc(100% - 10px);
    height: calc(20% - 10px);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.createSubRoutine .contentSection .route p {
    font-size: medium;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.createSubRoutine .contentSection .route input {
    height: calc(60% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    letter-spacing: 1.5px;
    background-color: black;
    color: rgb(0, 160, 198);
    border-radius: 10px;
    border: none;
}

.createSubRoutine .contentSection .dataInput {
    height: calc(60% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.createSubRoutine .contentSection .dataInput .dataOptions {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.createSubRoutine .contentSection .dataInput .dataOptions .optionButton p {
    transform: rotate(0deg);
}

.createSubRoutine .contentSection .dataInput .editor {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createSubRoutine .contentSection .dataInput .editor .subsEditor {
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: small;
    overflow: scroll;
    background-color: black;
}

.createSubRoutine .contentSection .sRDescription {
    height: calc(50% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createSubRoutine .contentSection .sRDescription .heading {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.createSubRoutine .contentSection .sRDescription .container {
    height: 70%;
    width: 100%;
}

.createSubRoutine .contentSection .sRDescription .container textarea {
    background-color: black;
    height: 90%;
    width: 97%;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    resize: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes shakeAnimation {
    0% {
        left: 0.5%;
    }

    50% {
        right: 0.5%;
    }

    100% {
        left: 0%;
    }
}

.createSubRoutine .saveButtonSection {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createSubRoutine .saveButtonSection .saveButton {
    height: 80%;
    width: 80%;
    background-color: rgb(0, 160, 198);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.createSubRoutine .saveButtonSection .saveButtonAnim {
    height: 80%;
    width: 80%;
    background-color: rgb(0, 160, 198);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: small;
    color: white;
    font-weight: bold;
    cursor: pointer;
    animation-name: shakeAnimation;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}

.createSubRoutine .saveButtonSection .saveButton p {
    margin: 0px;
}